/*=============== IMPORT FONT ===============*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*=============== VARIABLES CSS ===============*/


:root {
  /*========== Colors ==========*/
  --primary-color: #4F6C6A;
  --secondary-color: #EDEDED;
  --accent-color: #F6DDD9;
  --white-color: white;
  --dark-green-color: #1E292B;
  
  --primary-hover-color: #435c5a;
  
  /*========== Font and typography ==========*/
  --font-header : 'Exo', sans-serif;
  --font-paragraph : 'Titillium Web', sans-serif;   
  
  /*========== Font size ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --logo-font-size: 2.875rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.875rem;
  
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;
}

/*========== style h1, h2, h3, h4, text-normal, text-small, text-smaller ==========*/
.heading1-green {
  font-family: var(--font-header);
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  font-weight: var(--font-bold);
}
.heading1-white {
  font-family: var(--font-header);
  font-size: var(--h1-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

.heading2-green {
  font-family: var(--font-header);
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.heading2-white {
  font-family: var(--font-header);
  font-size: var(--h2-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

.heading3-green {
  font-family: var(--font-header);
  font-size: var(--h3-font-size);
  color: var(--primary-color);
  font-weight: var(--font-regular);
}
.heading3-white {
  font-family: var(--font-header);
  font-size: var(--h3-font-size);
  color: var(--white-color);
  font-weight: var(--font-regular);
}

.heading4-green {
  font-family: var(--font-paragraph);
  font-size: var(--h4-font-size);
  color: var(--primary-color);
  font-weight: var(--font-regular);
}
.heading4-white {
  font-family: var(--font-paragraph);
  font-size: var(--h4-font-size);
  color: var(--white-color);
  font-weight: var(--font-regular);
}

.paragraph-green {
  font-family: var(--font-paragraph);
  font-size: var(--normal-font-size);
  color: var(--primary-color);
  font-weight: var(--font-regular);
}
.paragraph-white {
  font-family: var(--font-paragraph);
  font-size: var(--normal-font-size);
  color: var(--white-color);
  font-weight: var(--font-regular);
}
.paragraph-dark {
  font-family: var(--font-paragraph);
  font-size: var(--normal-font-size);
  color: var(--dark-green-color);
  font-weight: var(--font-regular);
}

.text-small-green {
  font-family: var(--font-paragraph);
  font-size: var(--small-font-size);
  color: var(--primary-color);
  font-weight: var(--font-regular);
}
.text-small-white {
  font-family: var(--font-paragraph);
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-regular);
}
.text-small-dark {
  font-family: var(--font-paragraph);
  font-size: var(--small-font-size);
  color: var(--dark-green-color);
  font-weight: var(--font-regular);
}

/* text paling kecil */
.text-smaller-green {
  font-family: var(--font-paragraph);
  font-size: var(--smaller-font-size);
  color: var(--primary-color);
  font-weight: var(--font-regular);
}
.text-smaller-white {
  font-family: var(--font-paragraph);
  font-size: var(--smaller-font-size);
  color: var(--white-color);
  font-weight: var(--font-regular);
}
.text-smaller-dark {
  font-family: var(--font-paragraph);
  font-size: var(--smaller-font-size);
  color: var(--dark-green-color);
  font-weight: var(--font-regular);
}

/*=============== BUTTON ===============*/

/* button primary, without arrow */
.btn-primary-green{
  font-family: var(--font-paragraph);
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);

  display: inline-flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn-primary-green:hover{
  background-color: var(--primary-hover-color);
}

/* right arrow, from remixicon.com */
.btn-primary-green .ri-arrow-right-line{
  color: var(--white-color);
}

.btn-primary-white{
  font-family: var(--font-paragraph);
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: var(--font-paragraph);
  font-weight: var(--font-regular);

  display: inline-flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn-primary-white:hover{
  box-shadow: 1px 1px 6px var(--accent-color);
}

/* right arrow, from remixicon.com */
.btn-primary-white .ri-arrow-right-line{
  color: var(--primary-color);
}

/* button secondary */
.btn-secondary{
  font-family: var(--font-paragraph);
  background-color: var(--secondary-color);
  color: var(--dark-green-color);
  font-size: var(--font-paragraph);
  font-weight: var(--font-regular);

  display: inline-flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn-secondary:hover{
  box-shadow: 1px 1px 6px var(--dark-green-color);
}

/*=============== BREAKPOINTS ===============*/
/* For mobile devices */

/* Roadmap */


* {
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:var(--font-paragraph);
  background-color: var(--white-color);
  font-size: var(--normal-font-size);
  color: var(--primary-color);
}

header {
  font-family: var(--font-header);
  
  font-size: var(--small-font-size);
  
}

.logo {
  font-size: var(--logo-font-size);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.navbar {
  background-color: var(--white-color);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  position: sticky;
  top: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-right: 28px;
}

.nav-links a {
  color: #4f6c6a;
  text-decoration: none;
  /* padding: 10px 20px; */
  font-weight: bold;
  font-size: 28px;
}

.cta-button {
  font-size: 28px;
  background-color: #4f6c6a;
  border: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  border-radius: 10px;
  /* text-align: center; */
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #4f6c6a;
  /* align-items: center; */
  text-decoration: none;
  border-style: dashed;
  /* text-align: center; */
  
}

.container-hero {
  display: flex;
  padding: 40px;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 120px;
}

.container {
  max-width: 1440px;
}

h1 {
  /* margin-right: 280px; */
  /* flex: 1; */
  font-size: 48px;
  color: #4f6c6a;
}

img {
  width: 50%;
  height: auto;
  border-radius: 40px;
}

h2 {
  font-size: 28px;
}

.container-pengenalan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.non-active-btn {
  background-color: white;
  color: #4f6c6a;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  justify-content: center;
  margin-left: 32px;
}

.active-btn {
  background-color: #ededed;
  color: #4f6c6a;
  cursor: pointer;
  /* border-radius: 8px; */
  padding: 8px;
  margin-right: 32px;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 2px solid #4f6c6a;
}

.bold {
  font-weight: var(--font-bold);
}

.h1-roadmap {
  /* margin: 0; */
  color: #fff;
  text-align: justify;
  justify-content: center;
  padding: 36px 36px;
}

.container-penjelasan {
  margin: 32px;
  background-color: #4f6c6a;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px; /* Jarak kiri-kanan */
  display: flex;
}

.h1-roadmap {
  padding-right: 40px;
}

.container-penjelasan p {
  font-size: 18px;
  padding: 36px 36px;
  text-align: justify;
  color: white;
}

button.roadmap-rekomendasi {
  background-color: #ededed;
  color: black;
  border: none;
  padding: 12px 12px;
  border-radius: 8px;
  font-size: 16px;
  margin: 32px;
  margin-top: 16px;
  align-items: inherit;
  text-align: center;
  justify-content: right;
}

.roadmap-rekomendasi i {
  margin-right: 8px; /* Jarak antara ikon dan teks */
}

.border-roadmap {
  border-style: dashed;
  border-color: #4f6c6a;
  border-radius: 24px;
  margin: 32px;
  margin-top: 8px;
}

/* Roadmap */


/* .openbtn:hover {
  color: #000;
} */


/* CSS Sidebar Hidroponik mulai */
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  /* bottom: 0; */
  background-color: white;
  transition: ease 0.5s;
  overflow-y: auto;
  overflow-x: 0;
  border-left: 2px solid #ededed;
  box-shadow: 0 4px 6px #ededed;
  max-width: 70%;
}

.sidebar.active {
  width: 75%;
  /* height: auto; */
  font-size: 20%;

}

/* .openbtn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: #333;
} */

.sidebar-kontent {
  width: 100%;
  border-right: 3px solid #ededed;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

.pilih-kelas {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
  align-items: center;
  background-color: #fff;
  padding: 32px;
  margin: auto;
}

.pilih-kelas h1 {
  /* font-size: 48px; */
  color: #4f6c6a;
  padding: 8px;
  margin: 0;
}

.fas.fa-times {
  color: #7b7777;
  font-size: 44px;
  padding: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h2 {
  font-size: 36px;
  color: #4f6c6a;
  text-align: center;
}

.card {
  border: 1px solid #ededed;
  border-radius: 16px;
  padding: 24px;
  margin: 24px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.card img {
  /* padding: 32px; */
  /* max-width: 100%; */
  border-radius: 16px 0 0 16px;
  /* height: auto; */
  text-align: left;
  
}

h3 {
  font-size: 30px;
  color: #4f6c6a;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.deskripsi {
  padding: 32px;
  text-align: justify;
}

.deskripsi h4 {
  text-align: left;
}

.deskripsi p {
  text-align: justify;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.kiri {
  font-size: 18px;
  margin-bottom: 10px;
  font-size: 24px;
  padding: 12px 12px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

i.fas.fa-thumbs-up {
  color: #4f6c6a;
  margin-right: 4px;

}
i.fas.fa-thumbs-down {
  margin-right: 4px;
  color: #c0bfbf;
}

span {
  padding-right: 5px; 
}

button {
  padding: 20px 12px;
  background-color: #4f6c6a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button i {
  font-size: 16px;
  margin-left: 8px;
}

button.kelas-rekomendasi {
  width: calc(100% - 64px);
  font-size: 16px;
  padding: 20px 8px;
  background-color: white;
  color: #4f6c6a;
  border: 1px solid;
  border-radius: 16px;
  text-align: center;
  margin-left: 32px;
  margin-bottom: 240px;
}

/* CSS Sidebar Hidroponik selesai */


/* .buka {
  padding: 10px 12px;
  background-color: #4f6c6a;
  color: white;
  font-size: 24px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
} */